@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to Grade Manager</h1>
    <hr />
    <h5>Click <a asp-controller="Classrooms" asp-action="Index">Here</a> to proceed.</h5>
</div>
