@model IEnumerable<Lab3GradeM.Models.Classroom>

@{
    ViewData["Title"] = "Classrooms";
}

<h1>Current Classrooms</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create A New Classroom</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-Id="@item.ClassId"> @Html.DisplayFor(modelItem => item.ClassName) </a>                
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.ClassId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
